absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
antlr4-python3-runtime
anyio
asciitree
asttokens
astunparse
async-timeout
attrs
av
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
chex
click
cloudpickle
cmake
comm
contourpy
cycler
datasets
debugpy
decorator # @  file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
deepdiff
deepspeed
diffusers
dill
distrax
distro
dm-tree
draccus
einops
etils
evdev
exceptiongroup
executing
Farama-Notifications
fastapi
fasteners
ffmpeg
ffmpy
filelock
Flask
flatbuffers
fonttools
frozenlist
fsspec
ftfy
gast
gdown
gin-config
git-lfs
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
gradio
gradio_client
grpcio
gym
gym-notices
gymnasium
h11
h5py
hf-xet
hf_transfer
hjson
httpcore
httpx
huggingface-hub
idna
imageio
imageio-ffmpeg
importlib_metadata # @  file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
importlib_resources
inquirerpy
ipykernel
ipython
itsdangerous
jax
jaxlib
jedi
Jinja2
jiter
jsonlines
jupyter_client
jupyter_core
keras
kiwisolver
libclang
lightning
lightning-utilities
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mediapy
mergedeep
ml_dtypes
mpmath
msgpack
multidict
multiprocess
mypy_extensions
nest-asyncio
networkx
ninja
numba
numcodecs
numpy
numpydantic
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
oauthlib
# Editable install with no version control (octo==0.0.0)
# -e /remote-home/hanmf/SimplerEnv/octo
omegaconf
open_clip_torch
openai
opencv-python
opencv-python-headless
opt_einsum
orbax-checkpoint
orderly-set
orjson
packaging # @  file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas
parso
peft
pexpect
pfzy
pickleshare # @  file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil # @  file:///home/conda/feedstock_root/build_artifacts/psutil_1653089181607/work
ptyprocess
pure_eval
py-cpuinfo
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydub
pygame
Pygments
pymunk
pynput
pyparsing
PySocks
python-dateutil # @  file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-multipart
python-xlib
pytorch-lightning
pytz
PyYAML
pyyaml-include
pyzmq
regex
requests
requests-oauthlib
rerun-sdk
responses
rich
rsa
rtree
ruckig
ruff
safetensors
sapien
scipy
semantic-version
sentry-sdk
shellingham
# Editable install with no version control (simpler_env==0.0.1)
# -e /remote-home/hanmf/SimplerEnv
# six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap
sniffio
socksio
soupsieve
stack-data
starlette
sympy
tabulate
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-io-gcs-filesystem
tensorflow-probability
tensorstore
termcolor
tf-agents
tiktoken
timm
tokenizers
toml
tomlkit
toolz
torchcodec
torchmetrics
tornado
tqdm
traitlets
transformers
transforms3d
trimesh
triton
typer
typer-slim
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
wandb
wcwidth
websockets
Werkzeug
wrapt
xxhash
yarl
numpy
zarr
zipp